@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700&family=Ubuntu:wght@300&display=swap');

/* Variables */

:root {
    --clr-primary-1: #0e7490;
    --clr-heading: #0c4a6e;
    --clr-grey: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --fixed-width: 620px;
    --light-shadow: 0 10px 8px rgb(0 0 0 / 0.04);
    --dark-shadow: 0 25px 25px rgb(0 0 0 / 0.15);
}

body {
    font-family: 'Ubuntu', 'Merriweather', serif, 'Montserrat';
    margin: 0;
    background: var(--clr-grey);
    background-color: #ecfeff;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    text-align: center;
    margin: 5rem;
}

.heading {
    color: var(--clr-heading);
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-1);
    margin: auto;
    border-radius: 5rem;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#author {
    margin-bottom: 0.25rem;
}

.review {
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 5rem;
    text-align: center;
    object-fit: cover;
}

.review:hover {
    box-shadow: var(--dark-shadow);
}

#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: blue;
    font-size: 0.85rem;
}

.container {
    width: 80vw;
    max-width: var(--fixed-width);
}

.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    color: red;
}